# compiled output
/news-service/dist
/news-service/node_modules
/news-service/build

/api-public/dist
/api-public/node_modules
/api-public/build

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
